* {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 320px;
    height: 480px;
    background: url('../images/game_bg.jpg') no-repeat 0 0;
    margin: 100px auto;
    overflow: hidden;
}

.container>h1 {
    color: white;
    margin-left: 60px;
}

.container .progress {
    position: absolute;
    width: 180px;
    height: 16px;
    top: 66px;
    left: 63px;
    background: url('../images/progress.png') no-repeat 0 0;
}

.container .start {
    position: absolute;
    width: 150px;
    line-height: 35px;
    text-align: center;
    color: white;
    background: linear-gradient(#e55c3d, #c50000);
    border-radius: 20px;
    border: none;
    font-size: 20px;
    top: 320px;
    left: 50%;
    margin-left: -75px;
}

.container .rules {
    width: 100%;
    height: 20px;
    background: #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}

.container .rule {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    text-align: center;
    color: white;
    padding-top: 100px;
    display: none;
}

.rule p {
    line-height: 50px;
}

.rule a {
    color: red;
}

.container .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding-top: 200px;
    top: 0;
    left: 0;
    text-align: center;
    box-sizing: border-box;
    display: none;
}

.mask h1 {
    color: #ff4500;
    text-shadow: 3px 3px 0 #fff;
    font-size: 40px;
}

.mask button {
    background: linear-gradient(#74accf, #007ddc);
    position: absolute;
    width: 150px;
    line-height: 35px;
    text-align: center;
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    top: 320px;
    left: 50%;
    margin-left: -75px;
}